@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url("../fonts/HelveticaNeue/HelveticaNeueRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeue/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGroteskMedium';
  src: url("../fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpaceGroteskRegular';
  src: url("../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
}

.container {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 48px;
  padding-left: 48px;
}

@media (max-width: 992px) {
  .container {
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.people {
  padding: 96px 0;
}

.people-title {
  display: inline-block;
  font-size: 72px;
  font-family: 'SpaceGroteskMedium';
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
}

.people-title span {
  display: inline;
  background-color: #1519FF;
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.people-list__item {
  display: flex;
  width: 49%;
}

.people-list__item:first-child {
  margin-bottom: 32px;
}

.people-list__item:first-child .people-list__img {
  border-radius: 150px 0px 0px 0px;
}

.people-list__item:nth-child(2) {
  margin-bottom: 32px;
}

.people-list__item:nth-child(2) .people-list__img {
  border-radius: 50%;
}

.people-list__item:nth-child(3) .people-info {
  padding-left: 0;
  padding-right: 32px;
}

.people-list__item:last-child .people-info {
  padding-left: 0;
  padding-right: 32px;
}

.people-list__item:last-child .people-list__img {
  border-radius: 0 150px 0 0;
}

.people-list__img {
  min-width: 294px;
  max-width: 294px;
  min-height: 294px;
  max-height: 294px;
  overflow: hidden;
}

.people-info {
  border-top: 1px solid #00000030;
  padding-left: 32px;
}

.people-info__title {
  font-family: 'SpaceGroteskMedium';
  font-size: 20px;
  text-transform: uppercase;
  padding: 25px 0 15px;
}

.people-info__subtitle {
  font-family: 'HelveticaNeueRoman';
  font-size: 16px;
  color: #676767;
  padding-bottom: 35px;
}

.people-info__time {
  font-family: 'HelveticaNeueBold';
  font-size: 16px;
  padding-bottom: 25px;
}

.people-info__description {
  font-family: 'HelveticaNeueRoman';
  font-size: 16px;
  line-height: 27px;
  color: #676767;
}

@media (max-width: 1250px) {
  .people-list__item:nth-child(-n+2) .people-info {
    padding-right: 0;
    padding-left: 20px;
  }
  .people-list__item:nth-last-child(-n+2) .people-info {
    padding-right: 20px;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .people-title {
    font-size: 58px;
  }
  .people-list__img {
    min-width: 214px;
    max-width: 214px;
    min-height: 214px;
    max-height: 214px;
  }
  .people-info__title {
    padding: 10px 0;
  }
  .people-info__subtitle {
    padding-bottom: 15px;
  }
  .people-info__time {
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .people {
    padding: 86px 0;
  }
  .people-title {
    font-size: 46px;
  }
  .people-list__img {
    order: 1;
    min-width: 343px;
    max-width: 343px;
    min-height: 343px;
    max-height: 343px;
  }
  .people-list__item {
    width: 100%;
  }
  .people-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .people-list__item:nth-last-child(-n+2) .people-info {
    padding-right: 0;
    padding-left: 20px;
  }
  .people-info {
    order: 2;
  }
  .people-info__title {
    padding: 25px 0px 15px;
  }
  .people-info__subtitle {
    padding-bottom: 35px;
  }
  .people-info__time {
    padding-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .people {
    padding: 76px 0;
  }
  .people-title {
    font-size: 38px;
  }
  .people-info__title {
    font-size: 18px;
  }
  .people-info__subtitle {
    font-size: 14px;
  }
  .people-info__time {
    font-size: 14px;
  }
  .people-info__description {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .people-info {
    order: 1;
    margin-bottom: 15px;
  }
  .people-list__item {
    flex-direction: column;
  }
  .people-list__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .people-list__img {
    order: 2;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .people-title {
    font-size: 30px;
    margin-bottom: 34px;
  }
  .people-info {
    padding: 0 !important;
    margin-bottom: 20px;
  }
  .people-info__title {
    padding: 20px 0 15px;
    font-size: 14px;
  }
  .people-info__subtitle {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .people-info__time {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .people-info__description {
    font-size: 12px;
  }
  .people-list__img {
    min-width: 312px;
    max-width: 312px;
    min-height: 312px;
    max-height: 312px;
  }
}

@media (max-width: 360px) {
  .people-list__img {
    min-width: 272px;
    max-width: 272px;
    min-height: 272px;
    max-height: 272px;
  }
}
/*# sourceMappingURL=style.css.map */