@mixin img-size($w, $h)
	min-width: $w
	max-width: $w
	min-height: $h
	max-height: $h

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	color: #000000

.container
	flex: 0 0 100%
	max-width: 100%
	padding-right: 48px
	padding-left: 48px

@media (max-width: 992px )
	.container
		padding-right: 35px
		padding-left: 35px

@media (max-width: 768px )
	.container
		padding-right: 32px
		padding-left: 32px

@media (max-width: 576px)
	.container
		padding-right: 24px
		padding-left: 24px